// 清楚默认样式
@import "./reset";
@import "./variable";

// 设置滚动条的样式
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  //background-color: $base-menu-background;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}
